<div class="main">
<div><h2>AliExpress</h2></div>
<div>
  <ul>
 <p> Name: {{name}}</p><br>Image:<br>
 <a href="{{link}}">
    <img src='{{image}}' style="height:150px;width:120px">  
</a>
<button class="changebtn" (click)="Change()" >></button>
<p>
   Rating: {{rating}} <br>
   <a class="a"><p class="desc"> Description: {{description}}</p></a>
 </p>
 </ul>
</div>
<p>
<button class="btn" (click)="ASelect()" >Apple Watch 4</button>
<button class="btn" (click)="ISelect()" >Iphone7+</button>
<button class="btn" (click)="SSelect()" >Samsung s9</button>
<button class="btn" (click)="XSelect()" >Xiaomi</button>
<button class="btn" (click)="BrasSelect()" >Braslet</button>
<button class="btn" (click)="BagSelect()" >Bag</button>
<button class="btn" (click)="CaseSelect()" >case for Samsung s9</button>
<button class="btn" (click)="RingSelect()" >Rings</button>
<button class="btn" (click)="CupSelect()" >Cup</button>
<button class="btn" (click)="ShirtSelect()" >Shirt</button>
</p> <br>
</div>
<div class="share">
  <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
    </div>
